{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="agrocalculator">
        <a name="agrocalculator"></a>
        <div class="graph">
            <img src="/media/{{ graph.graph_img }}">
        </div>
        <div class="elements-table">
            <table>
              <tbody>
                <tr>
                  <td></td>
                    {% for element in elements_list %}
                      <td width="50px">{{ element }}</td>
                    {% endfor %}
                </tr>
                <tr>
                  <td>Доступные элементы в почве, кг/га</td>
                    {% for concentration in concentration_list %}
                      <td width="50px">{{ concentration }}</td>
                    {% endfor %}
                </tr>
                <tr>
                  <td>Необходимая концентрация элементов питания, кг/га</td>
                    {% for consuption in consuption_list %}
                      <td width="50px">{{ consuption }}</td>
                    {% endfor %}
                </tr>
              </tbody>
            </table>
        </div>
        <div class="elements-description">
            {% for description in elements_description %}
            <p>{{ description.name }} - {{ description.description }}</p>
            {% endfor %}
        </div>
    </section>
{% endblock %}
{% block footer %}
  	<footer>
  		<div class="agrocalculator-article">
            <p>Для получения бесплатной консультации по подбору удобрений на основе полученного расчёта, заполните форму обратной связи, и мы свяжемся с Вами в ближайшее время.</p>
  		</div>
  		<form action="{% url 'get_order' %}" method="post">
            {% csrf_token %}
            <div class="forms">
                <div>{{ form.name.label }} {{ form.name }}</div>
                <div>{{ form.email.label }} {{ form.email }}</div>
            </div>
            <div class="button">
                <button class="btn" type="submit">ОТПРАВИТЬ</button>
            </div>
   		</form>
  	</footer>
{% endblock %}
